.slideshow-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  filter: blur(0);
  transition: opacity 0.9s ease-in-out, filter 0.5s ease-in-out;
}

.slideshow-image.active {
  opacity: 1;
  filter: blur(0);
}

.slideshow-image:not(.active) {
  filter: blur(2px);
}
